<html>

    <head>
        
        <title>{{title}}</title>
        <meta name="author" content="{{author}}">

        <link rel="stylesheet" href="/src/client.css"></link>
        <script src="/dist/client.js"></script>

    </head>

    <body>
        <template id="source">{{{template}}}</template> 
    </body>

</html>
