<div>

    <md-app md-waterfall md-mode="fixed" class="olo-document">
        
        
        <!--    
          --
          --    Toolbar
          --
          -->
        
        <md-app-toolbar class="md-medium" md-large>
            
            <md-button class="md-icon-button" @click="toggleDrawer" v-if="!showDrawer">
                <md-icon>menu</md-icon>
            </md-button>
            
            <span class="md-title">{{docData.title}}</span>

            <slot name="toolbar-item"></slot>
                        
        </md-app-toolbar>
                
        
        <!--    
          --
          --    Content
          --
          -->
          
        <md-app-content class="main-window">
            <olo-section v-for="section in docData.sections" :key="section.id"
                         v-if="!section.display.hidden || section.display.editMode || showHidden"
                         :id="section.id"
                         :class="{active: activeSectionName == section.name}"
                         @click.native="activate(section)"
                         :section="section"
                         :rendering="html[section.name]">
            </olo-section>            
        </md-app-content>
                
        
        <!--     
          --
          --    Drawer
          --
          -->
          
        <md-app-drawer :md-active.sync="showDrawer" md-persistent="full">
            <md-toolbar class="md-medium md-transparent" md-elevation="0">
                <span>olo document</span>
                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="toggleDrawer">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>            
            </md-toolbar>

            <md-list>
                <md-list-item @click="collapseAll">
                    <md-icon>view_list</md-icon>
                    <span class="md-list-item-text">Collapse all</span>
                </md-list-item>

                <md-list-item @click="save">
                    <md-icon>save</md-icon>
                    <span class="md-list-item-text">Save</span>
                </md-list-item>

                <md-list-item @click="reload">
                    <md-icon>cached</md-icon>
                    <span class="md-list-item-text">Update references</span>
                </md-list-item>

                <md-list-item @click="showSettings = true">
                    <md-icon>settings</md-icon>
                    <span class="md-list-item-text">Settings</span>
                </md-list-item>
            </md-list>

        </md-app-drawer>    
                    
    </md-app>


    <!--     
      --
      --    Settings dialog
      --
      -->

    <md-dialog :md-active.sync="showSettings">
        <md-dialog-title>Document settings</md-dialog-title>

        <md-content>
            
            <md-field>
                <label>Title</label>
                <md-input v-model="docData.title"></md-input>
            </md-field>

            <md-switch v-model="showHidden">Show hidden sections</md-switch>
            
        </md-content>

        <md-dialog-actions>
            <md-button class="md-primary" @click="showSettings = false">Done</md-button>
        </md-dialog-actions>
    </md-dialog>

</div>
