
@import "./olo-section.css";


.olo-document .md-app {
    min-height: 350px;
}

.olo-document .md-app-toolbar {
    display: flex;
}

.olo-document .md-app-toolbar .md-title {
    flex: 1 1 auto;
    font-size: 20pt;
}

.olo-document .md-app-toolbar .md-title {
    flex: 1 1 auto;
    font-size: 20pt;
}


.olo-document .md-app-toolbar .md-button {
    flex: 0 0 auto;
}

.olo-document .md-app-content {
    padding-left: 56px;
    padding-right: 56px;
}



.olo-document .md-drawer {
    width: 230px;
    max-width: calc(100vw - 125px);
}

.olo-document .md-drawer .md-list-item {
    height: 24pt;
    margin-bottom: 16pt;
}

.md-dialog-overlay {
    z-index: 1000;
}

.md-dialog {
    z-index: 1001;
    width: 60%;
}

.md-dialog .md-content {
    padding: 1em;
}
