
/*@import url("//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons");*/

@import "/node_modules/vue-material/dist/vue-material.min.css";
@import "/node_modules/vue-material/dist/theme/default.css";
@import "./client/olo-ui.css";
@import "./client/css/typography.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("/vendor/material-icons-font/MaterialIcons-Regular.ttf") format('truetype');
}




/* Variables */

body {
    --accent-color: #64DD17;
}



/* Typogrphy */

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}
