
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url("./material-icons-font/MaterialIcons-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("./roboto-font/Roboto-Regular.ttf") format('truetype');
}


body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  color: #24292e;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;
}


.olowiki-app .md-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.olowiki-app .md-app-toolbar,
.olowiki-app .md-toolbar {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px solid var(--md-theme-default-divider, rgba(0,0,0,0.12));
}

.olowiki-app .md-app-toolbar .md-title.olo-app-name {
    flex: 0 2 auto;
    text-align: left;
    font-size: 1.5em;
    font-weight: bolder;
    color: #1976D2;
    margin-left: 8px;    
}

.olowiki-app .md-app-toolbar .md-title.olo-title {
    flex: 2 1 auto;
    text-align: center;
}



.olowiki-app .md-app-toolbar .olo-controls {
    flex: 0 0 auto;
}

.olowiki-app .md-app-drawer {
    border-right: 1px solid var(--md-theme-default-divider, rgba(0,0,0,0.12));
    width: 25%;
    max-width: calc(100vw - 125px);
}

.olowiki-app .md-app-content {
    padding: 0;
    margin: 0;
    border: 0;
}

.olowiki-app .md-app-content .olo-viewer {
    display: block;
    padding: 2em 2em 2em 2em;
}

@media (max-width: 480px) {
    .olowiki-app .md-app-content .olo-viewer {
        padding-left: 3%;
        padding-right: 3%;
    }
}

.olowiki-app .md-app-content .vue-olo-editor {
    width: 100%;
    height: 100%;
}

.md-dialog .md-dialog-container {
    min-width: 40%;
}

.olowiki-app .footer {
    color: #808080;
    font-size: 0.8em;
}

.olowiki-app #settings {
    padding: 1em 10%;
}

.olowiki-app .footer {
    font-size: 0.8em;
    text-align: center;
    color: rgba(21, 21, 21, 0.5);
    padding: 1em;
}

.olowiki-app .footer p {
    margin: 0.4em 0 0.4em 0;
}

.olowiki-app #settings .footer p {
    padding: 0;
    margin: 0.2em;
}

.olowiki-app #settings .right {
    text-align: right;
}

