
<div class="olowiki-app">

    <md-app>


        <!-- TOOLBAR -->
        <md-app-toolbar md-elevation="2">

            <md-button class="md-icon-button olo-logo" :href="'#'+appHomePage">
                <md-icon md-src="olowiki.svg" />
            </md-button>

            <span class="md-title olo-app-name">{{appName}}</span>
            <span class="md-title olo-title">{{docPath}}</span>

            <div class="olo-controls">
                
                <md-button class="md-icon-button" v-if="mode==='view'" @click="save">
                    <md-icon>save</md-icon>
                </md-button>

                <md-button class="md-icon-button" v-if="mode==='view'" @click="mode='edit'">
                    <md-icon>edit</md-icon>
                </md-button>
                
                <md-button class="md-icon-button control" v-if="mode==='edit'" @click="commit">
                    <md-icon>done</md-icon>
                </md-button>

                <md-button class="md-icon-button control" v-if="mode==='edit'" @click="quitEditing">
                    <md-icon>close</md-icon>
                </md-button>
            </div>

        </md-app-toolbar>



        <!-- DRAWER -->
        <md-app-drawer md-permanent="clipped" v-if="showDrawer">
            <vue-olo-tree-node-list 
                    :store="store" :path="treeRootPath"
                    :state="treeState"
                    @olo-tree-node-click="handleTreeNodeClick"
                    @olo-tree-contextmenu="handleTreeContextMenu">
                </vue-olo-tree-node-list>
        </md-app-drawer>



        <!-- CONTENT -->
        <md-app-content>
            
            <div class="olo-viewer" v-if="mode==='view'" v-html="docHTML"></div>

            <vue-olo-editor v-if="mode==='edit'"
                    v-model="editor.content"
                    :fontsize="editor.fontsize"
                    :theme="editor.theme">
                </vue-olo-editor>
                    
        </md-app-content>
        
    </md-app>
    


    <!-- POP-UP MESSAGES -->
    <md-snackbar md-position="center" :md-duration="message.duration" :md-active.sync="message.show" md-persistent>
        <span>{{message.content}}</span>
        <md-button class="md-primary" @click="message.show = false">Close</md-button>
    </md-snackbar>
    
    
    
    <!-- NAVIGATION CONTEXT MENU -->
    <context-menu v-if="navContextMenu.show"
            :x="navContextMenu.x" :y="navContextMenu.y"
            @context-menu-blur="navContextMenu.show = false">
            
        <md-list-item slot="context-menu-item" :href="'#'+navContextMenu.path">
            <md-icon>play_arrow</md-icon>
            <span class="md-list-item-text">Open</span>
        </md-list-item>
        
        <md-list-item slot="context-menu-item" v-if="navContextMenu.isDir" @click="showAddDialog(navContextMenu.path)">
            <md-icon>add</md-icon>
            <span class="md-list-item-text">Add</span>
        </md-list-item>
        
        <md-list-item slot="context-menu-item" @click="showCopyDialog(navContextMenu.path)">
            <md-icon>content_copy</md-icon>
            <span class="md-list-item-text">Duplicate</span>
        </md-list-item>

        <md-list-item slot="context-menu-item" @click="showDeleteDialog(navContextMenu.path)" v-if="navContextMenu.path !== '/'">
            <md-icon>delete</md-icon>
            <span class="md-list-item-text">Delete</span>
        </md-list-item>

        <md-list-item slot="context-menu-item" @click="download(navContextMenu.path)">
            <md-icon>file_download</md-icon>
            <span class="md-list-item-text">Download</span>
        </md-list-item>
        
    </context-menu>  
    
    
    
    <!-- ADD DIALOG -->    
    <prompt-dialog
            :md-active.sync="addDialog.show"
            v-model="addDialog.path"
            md-title="Create a new document"
            md-input-maxlength="256"
            md-input-placeholder="Type the document name..."
            md-confirm-text="Create" 
            @md-confirm="createDocument(addDialog.path)" />


    <!-- COPY DIALOG -->    
    <prompt-dialog
            :md-active.sync="copyDialog.show"
            :md-title="'Copy '+copyDialog.path1+' to'"
            v-model="copyDialog.path2"
            md-input-maxlength="256"
            md-input-placeholder="Type the item path..."
            md-confirm-text="Copy" 
            @md-confirm="copyItem(copyDialog.path1, copyDialog.path2)" />


    <!-- DELETE DIALOG -->
    <confirm-dialog
            :md-active.sync="deleteDialog.show"
            :md-title="'Delete ' +deleteDialog.path"
            md-content="Do you want to <strong>permanently</strong> delete this resource?"
            md-confirm-text="Yes"
            md-cancel-text="No"
            @md-confirm="deleteItem(deleteDialog.path)" 
            @keydown.esc.native="deleteDialog.show = false" />
    
</div>
